*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}
body{
    background-color:beige;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: red;
}
.wb{
    background-color: white;
    width: 100px;
    height: 100px;
}